@model ExamContext.ReadModel.Queries.Contracts.IeltsExamContext.IeltsAggregarte.DataContracts.IeltsExamQueryFacadeDto

<div class="card card-custom overflow-hidden">
    <div class="card-body invoice-6 p-0">
        <!--begin::Invoice-->
        <div class="invoice-6-container bgi-size-contain bgi-no-repeat bgi-position-y-top bgi-position-x-center" style="background-image: url(/assets/media/svg/shapes/abstract-10.svg);">
            <div class="container">
                <div class="row justify-content-center py-8 px-8 py-md-27 px-md-0">
                    <div class="col-md-9">
                        <!--begin::Invoice header-->
                        <div class="d-flex justify-content-between align-items-center flex-column flex-md-row mb-40">
                            <h1 class="display-3 font-weight-boldest text-white mb-5 mb-md-0">INVOICE</h1>
                            <div class="d-flex flex-column px-0 text-right">
                                <span class="d-flex flex-column font-size-h5 font-weight-bold text-white align-items-center align-items-md-end">
                                    <span class="mb-2">@Model.Title</span>
                                    <span>@DateTime.Now</span>
                                </span>
                            </div>
                        </div>
                        <!--end::Invoice header-->
                        <!--begin::Invoice body-->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class="font-weight-boldest title-color">
                                        <td class="align-middle font-size-h4 pl-0 border-0 pb-10">DESCRIPTION</td>
                                        <td class="align-middle font-size-h4 text-right border-0 pb-12">UNIT</td>
                                        <td class="align-middle font-size-h4 text-right pr-0 border-0 pb-12">AMOUNT</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="font-size-h5 font-weight-bolder text-white">
                                        <td class="align-middle pl-0 border-0 py-4">Price Amount</td>
                                        <td class="align-middle font-size-lg text-right border-0 py-4">Rial</td>
                                        <td class="align-middle text-right text-primary font-weight-boldest font-size-h5 pr-0 border-0 py-4">@Model.PriceAmount</td>
                                    </tr>
                                    <tr class="font-size-h5 font-weight-bolder text-white">
                                        <td class="align-middle pl-0 border-0 py-4">Discontent Amount</td>
                                        <td class="align-middle font-size-lg text-right border-0 py-4">Rial</td>
                                        <td class="align-middle text-right border-0 text-primary font-weight-boldest font-size-h5 pr-0 py-4">@Model.DiscontentAmount  %</td>
                                    </tr>
                                    <tr class="font-size-h5 font-weight-bolder text-white">
                                        <td class="align-middle pl-0 border-0 py-4">Final Price Amount</td>
                                        <td class="align-middle font-size-lg text-right border-0 py-4">Rial</td>
                                        <td class="align-middle text-right border-0 text-primary font-weight-boldest font-size-h3 pr-0 py-4">
                                            @{
                                                var FinalPriceAmount = Model.PriceAmount - ((Model.PriceAmount / 100) * Model.DiscontentAmount);
                                            }
                                            @FinalPriceAmount
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--end::Invoice body-->
                        <div class="border-bottom w-100 my-13 opacity-15"></div>
                        
                        <!--begin::Invoice note-->
                        <div class="d-flex flex-wrap align-items-end mt-30">
                            <div>
                                <div class="font-size-h4 font-weight-boldest title-color mb-3">NOTE</div>
                                <div class="font-size-h6 font-weight-bold note-color max-w-375px">
                                    @Model.Description
                                </div>
                            </div>
                            <a href="/IeltsExam/IeltsExamRegisterPageFinal/@Model.Id" class="btn btn-danger font-weight-bolder font-size-lg ml-sm-auto mt-5 px-5 py-4">Pay Now</a>
                        </div>
                        <!--end::Invoice note-->
                        <!--begin::Invoice footer-->
                        <div class="d-flex justify-content-between flex-column flex-sm-row text-center text-sm-left mt-30">
                            <div class="font-size-h2 font-weight-bolder text-white">Thanks For Your Order</div>
                            <!--begin::Logo-->
                            <a href="#" class="max-w-150px mx-auto mx-sm-0 mt-5 mt-sm-0">
                                <span class="svg-icon svg-icon-full svg-logo-white">
                                    <!--begin::Svg Icon | path:assets/media/svg/logos/duolingo.svg-->
                                    <img alt="Logo" src="/image/Logo.png" class="max-h-35px">
                                    <!--end::Svg Icon-->
                                </span>
                            </a>
                            <!--end::Logo-->
                        </div>
                        <!--end::Invoice footer-->
                    </div>
                </div>
            </div>
        </div>
        <!--end::Invoice-->
    </div>
</div>

<link href="~/assets/css/pages/invoice/invoice-6.css" rel="stylesheet" type="text/css" />
