@using Ielts.Common.GeneralClass
@model IeltsProject.Presentation.Models.ExamViewModel

<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-chart text-primary"></i>
            </span>
            <h3 class="card-label">Online Placement Exam</h3>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <!--begin: Pricing-->
            @using (Html.BeginForm("OnlinePlacementExamPage", "OnlinePlacement", FormMethod.Post,new { @class="col-md-10 form" }))
            {
                <input type="hidden" name="ExamId" value="@Model.ExamId" />
                <div class="card-body">
                    @for (int i = 0; i < Model.QuestionViewModel.Count; i++)
                    {
                            @if (Model.QuestionViewModel[i].QuestionTypeId.ToString() == PlacementQuestionTypeList.RadioButton.ToString())
                            {
                                <div class="form-group">
                                    <label>@Model.QuestionViewModel[i].QuestionTitle</label>
                                    @Html.TextBoxFor(m => m.QuestionViewModel[i].QuestionId, new { @class = "form-control notshow", @readonly = "readonly" })
                                    @Html.TextBoxFor(m => m.QuestionViewModel[i].QuestionTypeId, new { @class = "form-control notshow", @readonly = "readonly" })
                                    <div class="radio-inline" >
                                        @for (int j = 0; j < Model.QuestionViewModel[i].AnswerViewModel.Count; j++)
                                        {
                                            <label class="radio" style="padding:5px">
                                                @Html.RadioButtonFor(m => m.QuestionViewModel[i].AnswerValue, Model.QuestionViewModel[i].AnswerViewModel[j].AnswerId, new { @class = "" })
                                                @Html.TextBoxFor(m => m.QuestionViewModel[i].AnswerViewModel[j].AnswerId, new { @class = "form-control notshow", @readonly = "readonly" })
                                                &ensp;
                                                <span></span>
                                                @Model.QuestionViewModel[i].AnswerViewModel[j].AnswerTitle 
                                            </label>
                                        }
                                    </div>
                                </div>
                                <div class="separator separator-dashed my-10"></div>
                            }
                            else if (Model.QuestionViewModel[i].QuestionTypeId.ToString() == PlacementQuestionTypeList.CheckBox.ToString())
                            {
                                <div class="form-group">
                                    <label>@Model.QuestionViewModel[i].QuestionTitle</label>
                                    @Html.TextBoxFor(m => m.QuestionViewModel[i].QuestionId, new { @class = "form-control notshow", @readonly = "readonly" })
                                    @Html.TextBoxFor(m => m.QuestionViewModel[i].QuestionTypeId, new { @class = "form-control notshow", @readonly = "readonly" })
                                    <div class="checkbox-inline">
                                        @for (int j = 0; j < Model.QuestionViewModel[i].AnswerViewModel.Count; j++)
                                        {
                                            <label class="checkbox checkbox-square" style="padding:5px">
                                                @Html.CheckBoxFor(m => m.QuestionViewModel[i].AnswerViewModel[j].Checked, new { @class = "" })
                                                @Html.TextBoxFor(m => m.QuestionViewModel[i].AnswerViewModel[j].AnswerId, new { @class = "form-control notshow", @readonly = "readonly" })
                                                &ensp;
                                                <span></span>
                                                @Model.QuestionViewModel[i].AnswerViewModel[j].AnswerTitle 
                                            </label>
                                        }
                                    </div>
                                </div>
                                <div class="separator separator-dashed my-10"></div>
                            }
                            else if (Model.QuestionViewModel[i].QuestionTypeId.ToString() == PlacementQuestionTypeList.ComboBox.ToString())
                            {
                                <div class="form-group">
                                    <label>@Model.QuestionViewModel[i].QuestionTitle</label>
                                    @Html.TextBoxFor(m => m.QuestionViewModel[i].QuestionId, new { @class = "form-control notshow", @readonly = "readonly" })
                                    @Html.TextBoxFor(m => m.QuestionViewModel[i].QuestionTypeId, new { @class = "form-control notshow", @readonly = "readonly" })
                                    @{
                                        string selectId = "QuestionViewModel_" + @i + "__QuestionId";
                                        string selectName = "QuestionViewModel[" + @i + "].AnswerValue";
                                    }
                                    <select id="@selectId" name="@selectName" class = "form-control" >
                                        <option>
                                                -- select --
                                        </option>
                                        @for (int j = 0; j < Model.QuestionViewModel[i].AnswerViewModel.Count; j++)
                                        {
                                            <option value="@Model.QuestionViewModel[i].AnswerViewModel[j].AnswerId">
                                                @Model.QuestionViewModel[i].AnswerViewModel[j].AnswerTitle
                                            </option>
                                        }
                                    </select>
                                </div>
                                <div class="separator separator-dashed my-10"></div>
                            }
                            else if (Model.QuestionViewModel[i].QuestionTypeId.ToString() == PlacementQuestionTypeList.TextBox.ToString())
                            {
                                <div class="form-group">
                                    <label>@Model.QuestionViewModel[i].QuestionTitle</label>
                                    @Html.TextBoxFor(m => m.QuestionViewModel[i].QuestionId, new { @class = "form-control notshow", @readonly = "readonly" })
                                    @Html.TextBoxFor(m => m.QuestionViewModel[i].QuestionTypeId, new { @class = "form-control notshow", @readonly = "readonly" })
                                    @Html.TextBoxFor(m => m.QuestionViewModel[i].Value, new { @class = "form-control" })
                                    @*@for (int j = 0; j < Model.QuestionViewModel[i].AnswerViewModel.Count; j++)
                                        {
                                        <div>
                                        <label>
                                        @Model.QuestionViewModel[i].AnswerViewModel[j].AnswerTitle
                                        @Html.TextBoxFor(m => m.QuestionViewModel[i].AnswerViewModel[j].AnswerId, new { @class = "form-control notshow", @readonly = "readonly" })
                                        @Html.TextBoxFor(m => m.QuestionViewModel[i].AnswerViewModel[j].AnswerValue, new { @class = "form-control" })
                                        </label>
                                        </div>
                                        }*@
                                </div>
                                <div class="separator separator-dashed my-10"></div>
                            }
                            else if (Model.QuestionViewModel[i].QuestionTypeId.ToString() == PlacementQuestionTypeList.TextArea.ToString())
                            {
                                <div class="form-group">
                                    <label class="">@Model.QuestionViewModel[i].QuestionTitle</label>
                                    @Html.TextAreaFor(m => m.QuestionViewModel[i].QuestionId, new { @class = "form-control notshow", @readonly = "readonly" })
                                    @Html.TextBoxFor(m => m.QuestionViewModel[i].QuestionTypeId, new { @class = "form-control notshow", @readonly = "readonly" })
                                    @Html.TextAreaFor(m => m.QuestionViewModel[i].Value, new { @class = "form-control" })
                                </div>
                                <div class="separator separator-dashed my-10"></div>
                            }
                    }
                </div>
                <div class="card-footer">
		            <div class="row">
			            <div class="col-lg-5"></div>
			            <div class="col-lg-7">
                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            <a href="/" class="btn btn-secondary">Cancel</a>
			            </div>
		            </div>
	            </div>
            }
            <!--end: Pricing-->
        </div>
    </div>
</div>



<style>
    .notshow {
        display: none;
    }
</style>


