<div class="row">
    <div class="col-md-12">
        <div class="card card-custom">
            <!--begin::Advance Table Widget 3-->
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header border-0 py-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label font-weight-bolder text-dark">Reading Exam Result Details</span>
                        @*<span class="text-muted mt-3 font-weight-bold font-size-sm">نمایش همه</span>*@
                    </h3>
                    <div class="card-toolbar">
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-0 pb-3">
                    <!--begin::Table-->
                    <!--**********************datatablw search**************-->
                    @*<input type="hidden" name="CustomerId" value="@ViewBag.CustomerId">
                    <input type="hidden" name="IeltsExamId" value="@ViewBag.IeltsExamId">*@
                    <table id="DT_IeltsExamReadingUserScoreDetailList" class="table table-bordered"
                    data-url="@Url.Action("IeltsExamReadingUserScoreDetailData", "IeltsExamReadingResult",
                    new { readingExamId = ViewBag.ReadingExamId , ieltsExamParticipantsId = ViewBag.IeltsExamParticipantsId })">
                        <thead>
                            <tr>
                                <th>Question</th>
                                <th>Selected Answer</th>
                                <th>True / False</th>
                                <th>Answer Text</th>
                            </tr>
                        </thead>
                    </table>
                    <!--end::Table-->
                    <!--****************************************************-->
                    <!--end::Table-->
                </div>
                <!--end::Body-->
                <br />
                <!--end::Advance Table Widget 3-->
                <div class="col-md-12 text-center">
                    <div class="alert alert-custom alert-outline-info fade show mb-5" role="alert">
                        <div class="alert-icon"><i class="flaticon-warning"></i></div>
                        <div class="alert-text">Your score on this test is :  <strong style="font-size:medium">@ViewBag.ReadingScore</strong> </div>
                        <div class="alert-close">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="ki ki-close"></i></span>
                            </button>
                        </div>
                    </div>
                    <a class="btn btn-info font-weight-bold" href="@Url.Action("IeltsExamParticipantDetail_Load", "CustomerIeltsExam", new { Id=ViewBag.IeltsExamParticipantsId})">Return</a>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>

@section scripts{
    <script src="~/DataTableScripts/ExamScores/IeltsExamReadingUserScoreDetailDataTable.js"></script>
}



